// combined attributes that we can load in at once. think about...
@mixin box {
  background: $primary-color;
  color: $black;
  border: 10px solid black;
  padding: 25px;
  border-radius: $border;
  font-family: 'Syne Mono', monospace;
  // font-variant: small-caps;
}
