//import google fonts here
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@600&family=Shippori+Mincho+B1:wght@500&family=Syne+Mono&display=swap');
// font-family: 'Cormorant Unicase', serif;
// font-family: 'Shippori Mincho B1', serif;
// font-family: 'Syne Mono', monospace;
$black: rgb(0,0,0);
$bg: green;
$header: rgba(224,210,38,0.75);
$header-hover: rgba(49,185,224,1);
$padding: 10px;
$border: 3px;
$h1size: 2.5rem;
$primary-color: #ACA3E6;
// $primary-color: #ACA3E6;
// $secondary-color: #AAB4F0;
// $third-color: #A6BAD9;
// $fourth-color: #AAD8F0;
// $fifth-color: #A3E1E6;
